# Terraform
.terraform/
.terraform.lock.hcl
*.tfstate
*.tfstate.backup
*.tfplan
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# 機密情報
*.pem
*.key
terraform.tfvars
secrets.auto.tfvars
*.auto.tfvars

# OS
.DS_Store
